<?xml version="1.0" encoding="utf-8" ?>

<included>

	<root level="info">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

	<!-- Application logs at trace level -->
	<logger name="jp.afterfit.core" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>

</included>